@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --titulo:  #0A2743;
  --fundo: #F99324;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--titulo);

  padding: 10px;
}

.logo {
  height: 70px;
  margin-left: 40px;
}

nav ul {
  display: flex; 
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  padding: 10px;
  font-size: 22px;
  font-weight: 200;
  text-decoration: none;
  color: white;
}

/*Configurações do Carrossel*/

.carousel-item {
  height: 750px;;
}

.flexContainer {
  display: flex;
  align-items: center;
  height: 700px;
}

.flexContainerMiddle {
  display: flex;
  align-items: center;  
  height: 800px;
}

.container {
  display: flex;
  justify-content: center;
}

.card {
  padding: 10px;
  margin-top: 40px;
  border: none;
}

.cdLeft {
  position: relative;
  right: 165px;
  top: 20px;
}

.cdRight {
  position: relative;
  left: 165px;
  top: 20px;
}

.cdMeio {
  height: 466px;
}
/*Configurações Cards*/

.carousel-caption h5 {
  position: relative;
  right: 70px;
  bottom: 50px;
  text-align: left;
  font-size: 50px;
}

.carousel-caption p {
  text-align: left;
  
  position: relative;
  right: 66px;
  bottom: 60px;
}

.configHeight {
  display: flex;
  align-items: center;
  height: 750px;
}

.flexContainerMiddle {
  display: flex;
  align-items: center;  
  height: 750px;
}
/*Configurações cards*/

.trabalho{
  text-align: center;
  font-size: 3em;
  color: var(--titulo);

  margin-bottom: 30px;
  margin-top: -20px;
}


.sTwo {
  text-align: center;
  font-size: 1.2em;
  color: var(--titulo);

  margin-top: 30px;
}
.especialidades {
  background-image: url(img/fundo-tec.png);
  height: 720px;
}

.cardsContainer {
  display: flex;
  justify-content: center;
}

.card {
  margin: 12px;
  width: 28rem; 
  height: 450px;
}

.card-body h5,p {
  text-align: center;
} 

.card-body p {
  margin-top: 20px;
  font-size: 18px;
}

.card-body h5 {
  font-size: 24px;
  color: #0A2743;
}

.iconCard {
  text-align: center;
}

.iconCard img {
  width: 340px;
  height: 210px;

  object-fit: cover;
}

.cardSaibaMais {
  display: flex;
  justify-content: center;
  align-items: end;
  margin-top: 25px;
}

.saibaMais {
  font-size: 22px;
  text-decoration: none;   
  color: var(--titulo);
}

.cardSaibaMais i {
  font-size: 22px;
  margin-left: 8px;
  color: var(--titulo);
}

/*Configurações projetos*/
.projeto {
  background: var(--titulo);
  margin-top: -40px;
}

.sobre {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.imgSobre {
  padding: 25px;
  margin: 30px 0;
  margin-top: 50px;
}

.txtSobre .sobrep {
  text-align: justify;
  width: 420px;
  color: white;

  margin-bottom: 50px;
}

.txtSobre h1 {
  color: white;
  margin-bottom: 30px;
}

.list-text {
  display: flex;
  flex-direction: column;
}

.list-text p {
  text-align: justify;
  width: 420px;
  color: white;
  font-size: 18px;
  margin-top: -12px;
}

.list-text i {
  margin-right: 11px;
  color: var(--fundo);
  font-size: 18px;
}
/*Configurações Depoimentos*/
#depoimentos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.header-depoimento {
  letter-spacing: 1px;
  margin: 30px 0;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-depoimento h1 {
  font-size: 2.2rem;
  background: var(--titulo);
  color: #ffffff;
  padding: 10px 20px;
}

.header-depoimento span {
  font-size: 1.3rem;
  color: #252525;
  margin-bottom: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.depoimento-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.depoimento-box {
  width: 500px;
  box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
  background: #ffff;
  padding: 20px;
  margin: 15px;
  cursor: pointer;
}

.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.profile {
  display: flex;
  align-items: center;
}

.name-user {
  display: flex;
  flex-direction: column;
}

.name-user strong {
  color: #3d3d3d;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}

.name-user span {
  color: #979797;
  font: 0.8rem;
}

.reviews {
  color: var(--fundo);
}

.box-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.client-coments p {
  font-size: 0.9rem;
  color: #4b4b4b;
}

.depoimento-box:hover {
  transform: translateY(-10px);
  transition: all ease 0.3s;
}

@media(max-width: 1060px) {
  .depoimento-box {
    width: 45%;
    padding: 10px;
  }
}

@media(max-width: 790px) {
  .depoimento-box {
    width: 100%;
  }
  .header-depoimento h1 {
    font-size: 1.4rem;
  }
}

@media(max-width: 340px) {
  .box-top {
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  .reviews {
    margin-top: 10px;
  }
}
::selection {
  color: #ffffff;
  background: #252525;
}
/*Outras congigurações de depoimentos*/
.container2 {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}

.section-header {
  text-align: center;
  margin-bottom: 50px;
}

.section-header .title {
  font-size: 35px;
  text-transform: capitalize;
  color: white;
  line-height: 1.2;
}

.testimonials {
  padding: 100px 0;
}

.testimonials-item {
  background: white;
  padding: 30px;
  border-radius: 30px;
}

.testimonials-item .info {
  display: flex;
  align-items: center;
}

.testimonials-item img {
  max-width: 80px;
  border-radius: 50%;
  margin-right: 20px;
  vertical-align: middle;
}

.testimonials-item .name {
  font-size: 24px;
  text-transform: capitalize;
  color: black;
  line-height: 1.2;
}

.testimonials-item .job {
  text-transform: capitalize;
  color: #3d3d3d;
}

.testimonials-item p {
  margin-top: 20px;
  color: #3d3d3d;
}

.testimonials-item .rating {
  margin-top: 15px;
  font-size: 14px;
  color: var(--fundo);
}

.testimonials {
  background: var(--titulo);
  width: 100%;
}

.testimonials .swiper-pagination {
  position: relative;
  margin-top: 40px;
  bottom: auto;
}


.testimonials .swiper-pagination-bullet {
  height: 12px;
  width: 12px;
  background: white;
}