@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --titulo:  #0A2743;
  --fundo: #F99324;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 999;
  position: fixed;
  transition: background 0.3s ease, color 0.3s ease;

  padding: 20px;
  width: 100%;
  /* margin-top: 18px; */
}

#header.scrolled {
  background: #0a2743f8;
  color: #fff;
}

.logo {
  height: 70px;
  margin-left: 40px;
}

nav ul {
  display: flex; 
}

nav ul li {
  list-style-type: none;
  padding: 10px;
  transition: 2s ease;
}

nav a {
  padding: 10px;
  font-size: 22px;
  font-weight: 200;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.253);
  position: relative;
}

nav a::after {
  content: " ";
  width: 0%;
  height: 2px;
  background: #F99324;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.5s ease-in-out;
}

nav a:hover::after {
  width: 100%;
}

nav li a:hover {
  transform: scale(1.2);
  color: white;
}

nav li:hover {
  transform: scale(1.2);
}
/* START CAROUSEL */

.container {
  display: flex;
  justify-content: center;
}

.carousel-caption {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
}

.carousel-caption h5 {
  position: relative;
  right: 30px;
  margin-right: 50px;
  text-align: left;
  font-size: 50px;
  bottom: 25rem;
}

.carousel-caption p {
  position: relative;
  right: 30px;
  text-align: left;
  bottom: 25rem;
}
/* END CAROUSEL  */

/* START CARDS */

.box-cards-container {
  height: auto;
}

.title-work{
  text-align: center;
  font-size: 3em;
  font-weight: 700;
  color: var(--titulo);

  margin-bottom: 30px;
  margin-top: -20px;
}

.sTwo {
  text-align: center;
  font-size: 1.2em;
  color: var(--titulo);

  margin-top: 30px;
}

.especialidades {
  height: auto;
}

.cardsContainer1 {
  display: flex;
  justify-content: center;
  margin-top: 90px;
}

.cardsContainer2 {
  display: flex;
  justify-content: center;
}

.card {
  margin: 40px;
  width: 28rem; 
  height: 500px;
  transition: transform 0.4s ease, background-color 0.4s ease, box-shadow 0.4s ease;
}

.card-body {
  padding: 53px;
}

.card-body h5,p {
  text-align: center;
} 

.card-body p {
  margin-top: 20px;
  font-size: 18px;
}

.card-body h5 {
  font-size: 24px;
  color: #0A2743;
}

.iconCard {
  text-align: center;
}

.iconCard img {
  width: 340px;
  height: 210px;

  object-fit: cover;
}

.container-cards {
  display: flex;
  justify-content: center;
}

.left:hover {
  transform: rotate(-5deg) translateY(-10px);
  background-color: #F99324;
  box-shadow: 10px 10px 100px rgba(124, 1, 1, 0.3);
}

.right:hover {
  transform: rotate(5deg) translateY(-10px);
  background-color: #F99324;
  box-shadow: 10px 10px 100px rgba(124, 1, 1, 0.3);
}
/* END CARDS */

/* START PROJECTS*/

.projeto img {
  width: 100%;
}

.sobre {
  background-image: url(img/eletrecista-fundo\ \(3\).png);

  margin-top: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  height: 620px;
  width: 100%;
}

.txtSobre {
  margin-left: 250px;
  margin-bottom: 50px;

  position: relative;
}

.txtSobre .sobrep {
  text-align: justify;
  width: 420px;
  color: white;
  font-weight: 400;
  font-size: 17px;

  margin-bottom: 50px;
}

.txtSobre h1 {
  color: white;
  margin-bottom: 30px;
}

.list-text {
  display: flex;
  flex-direction: column;
}

.list-text p {
  text-align: justify;
  width: 420px;
  color:  white;
  font-size: 18px;
  margin-top: -12px;
}

.list-text p:last-child {
  margin-bottom: 40px;
}

.list-text i {
  margin-right: 11px;
  color: var(--fundo);
  font-size: 18px;
}

/* END PROJECTS */

/*START DEPOIMENTS*/

.container2 {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}

.section-header {
  text-align: center;
  margin-bottom: 50px;
}

.section-header .title {
  font-size: 35px;
  text-transform: capitalize;
  color: white;
  line-height: 1.2;
}

.testimonials {
  padding: 100px 0;
}

.testimonials-item {
  background-color: #fff;
  padding: 30px;
  border-radius: 20px;
}

.swiper-slide {
  box-shadow: 0px 10px 30px 0px rgba(92, 115, 160, 0.07);
}

.testimonials-item .info {
  display: flex;
  align-items: center;  
}

.testimonials-item img {
  max-width: 80px;
  border-radius: 50%;
  margin-right: 20px;
  vertical-align: middle;
}

.testimonials-item .name {
  font-size: 24px;
  text-transform: capitalize;
  color: hsl(0, 0%, 0%);
  line-height: 1.2;
}

.testimonials-item .job {
  text-transform: capitalize;
  color: hsl(0, 0%, 40%);
}

.testimonials-item p {
  margin-top: 20px;
  color: hsl(0, 0%, 0%);
}

.testimonials-item .rating {
  margin-top: 15px;
  font-size: 14px;
  color: var(--fundo);
}

.testimonials .swiper-pagination {
  position: relative;
  margin-top: 40px;
  bottom: auto;
}

.testimonials .swiper-pagination-bullet {
  height: 12px;
  width: 12px;
  background: var(--titulo);
}

.header-depoimento {
  letter-spacing: 1px;
  margin: 60px 0;
  margin-top: -40px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-depoimento h1 {
  font-size: 2.2rem;
  background:  var(--titulo);
  color: white;
  padding: 10px 20px;
}

.header-depoimento span {
  font-size: 1.3rem;
  color:  var(--titulo);
  margin-bottom: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* END DEPOIMENTS */

/* START SOCIAL BUTTONS */

.box-btn-social button {
  position: relative;
  background-color: transparent;
  padding: 15px 32px;
  font-size: 16px;
  border: 2px solid #F99324;
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
  transition: color 0.4s ease;
  transition: 0.6s;
}

.btn-social {
  display: flex;
  align-items: center;
}

.btn-social a {
  text-decoration: none;
  color:  white;
  position: relative;
  z-index: 1;
  font-size: 18px;
  font-weight: 400;
}

.btn-social:hover {
  color: white;
  transform: scale(1.1);
}

.btn-social::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #F99324; 
  transition: 1s ease;
  z-index: 0;
}

button:hover::before {
  width: 100%;
}

button:active {
  transform: scale(0.98); /* Leve redução para efeito de clique */
}

.btn-social i {
  font-size: 20px;
  margin-left: 10px;
}

.btn-social2 i {
  margin-left: 8px;
}

.btn-social2 button {
  background: rgba(255, 255, 255, 0.062); /* Transparência */
  border: 1px solid rgba(255, 255, 255, 0.4); 
  color: rgba(255, 255, 255, 0.253);
  font-size: 18px;
  padding: 12px 24px;
  border-radius: 12px;
  backdrop-filter: blur(10px); /* Desfoque */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra leve */
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-social2 button:hover {
  color: white;
  box-shadow: 0px 0px 25px 6px rgba(255, 255, 255, 0.178);
}
/* END SOCIAL BUTTON */

/* START RESPONSIVIDADE */

@media screen and (max-width: 1600px) {
  .sobre {
    background-position: center;
  }
}

@media screen and (max-width: 768px) {
  .cardsContainer1 {
    width: 100%;
    flex-direction: column;
  }
  .cardsContainer2 {
    width: 100%;
    flex-direction: column;
  }
}

@media screen and (max-width: 1100px) {
  .card {
    width: auto;
  }
}

@media screen and (max-width: 768px) {
  .projeto {
    width: 100%;
  }
}

@media screen and (max-width: 1600px) {
  .carousel-caption h5 {
    position: relative;
    right: 30px;
    margin-right: 50px;
    text-align: left;
    font-size: 50px;
    bottom: 25rem;
  }
  
  .carousel-caption p {
    position: relative;
    right: 30px;
    text-align: left;
    bottom: 25rem;
  }
}
/* END RESPONDIVIDADE */
